:root {
    --color-cards: #94ddf9;
    --color-background: #fef6f1;
    --color-text-primary: #5a5a5a;
    --color-hover: #53FD8B;
    --color-title-main-1: #a487ca;
    --color-title-main-2: #f280ca;
  }
  